/* header {
	padding: 20px;
	height: 50px;
	background: #fff;
	text-align: center;
	border-bottom: 2px solid #ddd;
}

.menu-icons {
	display: flex;
	justify-content: flex-end;
	gap: 24px;
}

.menu-icons a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	border-radius: 12px;
	font-size: 2.2rem;
	transition: .2s;
}

.menu-icons i {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	color: inherit;
	background: #f3f3f3;
}

.menu-icons a:hover {
	background: #f0f0f0;
}

.menu-icons a svg {
	display: block;
	transition: filter 0.2s;
} */
